# Merging and exporting data

# 01. Importing libraries

In [7]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Data

In [8]:
path=r'C:\Users\61491\12-2020 Instacart Basket Analysis'

In [9]:
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products__prior.csv'), index_col = False)

In [10]:
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [12]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,7.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [16]:
df_ords=df_ords.drop(columns=['Unnamed: 0.1' , 'Unnamed: 0'])

In [17]:
df_ords.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [18]:
df_ords_prior.shape

(1048575, 4)

In [19]:
df_ords.shape

(3421083, 6)

In [20]:
# merging orders dataframe and orders prior dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,94891,4,4,5,13,15.0,22199,1,0,both
1,94891,4,4,5,13,15.0,25146,2,0,both
2,23391,7,17,0,10,28.0,13198,1,1,both
3,23391,7,17,0,10,28.0,42803,2,1,both
4,23391,7,17,0,10,28.0,8277,3,1,both

In [22]:
df_merged_large['_merge'].value_counts()

both          1048575
left_only           0
right_only          0
Name: _merge, dtype: int64

In [23]:
# Export data to csv
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [24]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))